@import url('https://fonts.googleapis.com/css2?family=Allison&family=Nunito+Sans:wght@300;600;800&display=swap');
$Dark_Blue:  hsl(209, 23%, 22%);
$DarkBlue1: hsl(207, 26%, 17%);
$Black: hsl(200, 15%, 8%);
$Dark_Gray: hsl(0, 0%, 52%);
$Light_Gray: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);

